@tailwind base;
@tailwind components;
@tailwind utilities;

/* create box of home */
.box {
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* note box */
.note-box {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* login and register input */
.input {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

/* login, register and logout button */
.btn {
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

/* create box of create */
.form {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

/* navbar */
.navbar {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

/* update and delete buttons of create */
.btn-form {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


.login-bg {
    background: linear-gradient(125deg, #FFF4E6 0%, #FFEFDD 25%, #FFF5E8 50%, #FFEAD5 75%, #FFF2E0 100%);
}

.login {
    font-family: 'Inter', 'system-ui', 'SF Pro Display', 'SF Pro Text', 'Segoe UI', '-apple-system', 'sans-serif';
}